/* index.css */

/* Example custom styles for people who prefer standard CSS */

#profile-text:hover {
  color: darkblue;
}

/* Add more styling as needed */

/*header*/
header{
	font-family: poppins;
	font-weight: 700;
}

/* Add Styling Gallery Two Section */
.gallery-one-section {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 20px; /* space between grid items */
  padding: 20px;
}

.grid-one-item {
  box-sizing: content-box;
}

.caption {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.image-one-section {
  border-radius: 10px;
  width: 100%;
}

/* Add Styling Gallery Two Section */

	* {
		font-family: poppins;
	}


#profile-text:hover {
	color: darkblue;
}

/* Add more styling as needed */
/************** SIRJAEY'S PART (PROFILE)*********************** */
#sirjaey {
	border-bottom: 2px solid #21212166;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-bottom: 20px;
	width: 90%;
}
.profile {
	display: flex;
	gap: 20px;
}
.bio-data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.about {
	h1 {
		font-size: 32px;
		font-weight: 500;
	}
	p {
		color: #212121b2;
	}
}
.edit span {
	color: #212121b2;
}
.new-post {
	align-items: baseline;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.new-post-btn button {
	background-color: #212121;
	border-radius: 8px;
	color: #fcf5e5;
	gap: 8px;
	padding: 10px 25px;
}
/* *************END OF SIRJAEY'S PART****************** */

/*tabeit's*/

.footer {
	font-size: 14px;
	color: #3f3f3f;
}

